 
 body {
    font-family: 'Josefin Sans', Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
    padding: 10px;

 }

/* Cabecera centrada */
.cabecera-centrada {
    text-align: center;
    margin-bottom: 10px;
}

.cabecera-centrada img {
    height: 110px; 
    display: block;
    margin: 0 auto 5px auto;
}

.cabecera-centrada h2 {
    color: #000000;
    font-size: 14px;
    font-weight: 700;
}

form {
    background-color: #ffffff;
    padding: 8px;            
    border-radius: 5px;
    margin-bottom: 12px;
    /*max-width: 650px;*/
    margin-left: auto;
    margin-right: auto;
}

form label {
    display: block;
    margin-bottom: 2px;       
    font-weight: 600;
    font-size: 0.9em;        
}

form input,
form textarea {
    width: 100%;
    padding: 6px;             
    margin-bottom: 5px;       
    border: 1px solid #7385f7;
    border-radius: 4px;
    font-size: 0.95em;        
}

form input[type="submit"],
form input[type="button"] {
    padding: 6px 12px;        
    font-size: 0.95em;        
    margin-right: 6px;
    margin-bottom: 0; 
}


table {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #7385f7;
    font-size: 0.8em;
}

thead {
    background-color: #1800ad;
    color: white;
}

th, td {
    padding: 4px;
    text-align: left;
    border: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}


button.editarBtn {
    background-color: #82aae4;
    color: black;
    border: none;
    padding: 2px 4px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 0.75em;
}

button.eliminarBtn {
    background-color: #200d3c;
    color: white;
    border: none;
    padding: 2px 4px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 0.75em;
}


footer {
    margin-top: 10px;
    text-align: center;
    font-size: 0.75em;
    color: #666;
}
